/* reset for browser differences */
body {
  margin-right: 7%;
  margin-left: 7%;
  /* padding-left: 30px;
  padding-right: 25px; */
  background-color: #f0f0f0;
  color: #101010;
}

header {
  color: #f0f0f0;
  background-color: #101010;
  padding-top: 50px;
  /*padding-bottom: 2%;*/
  margin-top: -75px;
  margin-bottom: -50px;
  margin-right: -9%;
  margin-left: -9%;
  border-bottom: solid grey 7px;

  /* min-height: 100px; */
}

header h1,
header h3 {
  font-family: "JetBrains Mono", Consolas, monospace;
  text-align: center;
  /* background-color: red; */
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 1px;

  /* background-color: blue; */
}

header h3 {
  font-size: 22px;
  margin-top: 1px;
  margin-bottom: 1px;
  /* background-color: green; */
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: center;
}

.nav {
  display: flex;
  padding-top: -50px;
  padding-bottom: 0;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
  /* background-color: red; */
}

.nav-el {
  /* margin-top: -5.5%; */
  margin-top: 15px;
  margin-bottom: 15px;

  /* background-color: blue; */
  text-decoration: none;
}

header .item a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Montserrat";
  color: #f0f0f0;
  font-size: 20px;
}

img {
  display: block;
  width: 50%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #101010;
}

#portrait {
  margin-top: 80px;
}

section {
  font-family: "Montserrat";
  font-size: 20px;
}

section h4 {
  font-family: "JetBrains Mono", Consolas;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

footer {
  background-color: #101010;
  margin-top: 50px;
  margin-bottom: -40px;
  margin-right: -9%;
  margin-left: -9%;
}

h6 {
  color: grey;
  text-align: right;
  font-family: "JetBrains Mono", Consolas;
  font-size: 18px;
  padding-right: 15px;
}

input,
textarea,
label {
  display: flex;
  width: 100%;
}

input,
textarea {
  max-width: 500px;
  background-color: #101010;
  color: #fff;
  font-family: "montserrat";
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  max-width: 750px;
}

label {
  padding-bottom: 3px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

label:first-child {
  padding-top: 0;
}

button {
  border: solid 2px #101010;
  border-radius: 6px;
  background-color: #f0f0f0;
  font-size: 24px;
  margin-top: 20px;
}
