/* reset for browser differences */
body {
  margin-right: 7%;
  margin-left: 7%;

  background-color: #f0f0f0;
  color: #101010;
}

/* set default styles for header */
header {
  color: #f0f0f0;
  background-color: #101010;
  padding-top: 50px;
  margin-top: -75px;
  margin-bottom: -50px;
  margin-right: -9%;
  margin-left: -9%;
  border-bottom: solid grey 7px;
}
/* tune header elements */
header h1,
header h3 {
  font-family: "JetBrains Mono", Consolas, monospace;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 1px;
}

header h3 {
  font-size: 22px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* defaults for main container*/
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: center;
}

/* default styles for nav links, flexbox established */
.nav {
  display: flex;
  padding-top: -50px;
  padding-bottom: 0;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
}

.nav-el {
  margin-top: 15px;
  margin-bottom: 15px;

  text-decoration: none;
}

/* style link text */
header .item a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Montserrat";
  color: #f0f0f0;
  font-size: 20px;
}

#portrait-img {
  display: block;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #101010;
}

#portrait {
  margin-top: 80px;
  margin-bottom: 20px;
}

/* defaults for all section tags */
section {
  font-family: "Montserrat";
  font-size: 20px;
}

section h4 {
  font-family: "JetBrains Mono", Consolas, monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* for the social media img links */
#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  margin-top: -20px;
}

#socials img {
  min-width: 40px;
  max-width: 55px;
}

#socials img:first-child {
  padding-right: 20px;
}

#socials h5 {
  padding-left: 0px;
  font-size: 24px;
  font-family: "JetBrains Mono", Consolas, Monospace;
  padding-right: 20px;
}

/* format the form boxes */
input,
textarea,
label {
  display: flex;
  width: 100%;
}

input,
textarea {
  max-width: 500px;
  background-color: #101010;
  color: #fff;
  font-family: "montserrat";
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  max-width: 750px;
}

label {
  padding-bottom: 6px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

label:first-child {
  padding-top: 0;
}

/* make the button bigger and nicer*/
button {
  border: solid 2px #101010;
  border-radius: 6px;
  background-color: #f0f0f0;
  font-size: 24px;
  margin-top: 20px;
}

/* style footer */
footer {
  background-color: #101010;
  margin-top: 50px;
  margin-bottom: -40px;
  margin-right: -9%;
  margin-left: -9%;
}

h6 {
  color: grey;
  text-align: right;
  font-family: "JetBrains Mono", Consolas, monospace;
  font-size: 18px;
  padding-right: 15px;
}

/* >>>>>>>>>>>>>> MEDIA QUERY FOR DESKTOPS <<<<<<<<<<<<<<<<<< */

@media all and (min-width: 1024px) {
  .group {
    display: flex;
    justify-content: center;
  }

  #projects {
    display: flex;
    flex-direction: column;
  }

  #projectArticles {
    display: flex;
    flex-direction: row;
  }

  #projectArticles article {
    display: flex;
    flex: 1;
  }

  .projectName {
    font-size: 24px;
    margin-bottom: -25px;
  }

  .projectBody {
    display: flex;
    flex-direction: column;
  }

  .projectBody p {
    height: 100%;
    padding: 5%;
  }

  #navBar {
    margin-top: 45px;
    margin-left: 8%;
    justify-content: right;
  }

  #introHeading {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    max-width: 500px;
  }

  footer {
    padding-bottom: 5%;
  }
}
