/* reset for browser differences */
body {
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
}

header {
  color: white;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 2%;
  margin: -3%;
  /* min-height: 100px; */
}

header h1,
header h3 {
  font-family: "JetBrains Mono";
  text-align: center;
  /* background-color: red; */
}

header h1 {
  font-size: 2.5em;
  /* background-color: blue; */
}

header h3 {
  font-size: 22px;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-el {
  /* margin-top: -5.5%; */
  text-decoration: none;
}

header .item a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Montserrat";
  color: white;
  font-size: 20px;
}

img {
  display: block;
  width: 50%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: black;
}

#portrait {
  margin-top: 10%;
}

section {
  font-family: "Montserrat";
  font-size: 20px;
}

section h4 {
  font-family: "JetBrains Mono";
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
